.contacts-hdr {
    display: flex;
    margin-bottom: 0px; 
    margin-top: 0px;
    margin-left: auto;
    padding-left: 0px;
}


.contacts-hdr__item + .contacts-hdr__item {
    margin-left: 50px;
} 


.contacts-hdr__link {
    display: flex;
    align-items: center;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $primary-text-color;


    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
    color: $accent-color;
}
}


.contacts-hdr__iconMail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
}


.contacts-hdr__iconTel {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
}