.footer-social {
    margin-right: 93px;
}

.foot-social__title {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: $primary-white-color;
}