.footer-form-button {
    width: 200px;
    height: 50px;

    border: none;
    background: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    padding: 10px 28px;
    margin-left: 12px;

    font-weight: 700;
    font-size: 16px;
    line-height: 30px;

    display: flex;
    align-items: center;
    letter-spacing: 0.06em;

    color: $primary-white-color;


    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.footer-form-button:hover,
.footer-form-button:focus {
    cursor: pointer;
    background-color:#188CE8;
}


.icon-fly {
    margin-left: 10px;
}