.footer-adress__map {
    display: inline-block;
    font-style: normal;
    line-height: 1.71;
    color: $primary-white-color;


    min-width: 231px;


    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


    &:hover,
    &:focus {
    color: $accent-color;
}
}


.footer-adress__contact {
    display: inline-block;
    font-style: normal;
    line-height: 1.71;
    color: $footer-contact-color;

    min-width: 231px;


    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


    &:hover,
    &:focus {
    color: $accent-color;
}
}


