.form-title {
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 12px;

    color: #212121;
}


.form-label {
    position: relative;

    margin-bottom: 4px;
    
    line-height: 1.16;

    letter-spacing: 0.01em;

    color: #757575;

}


.form-input {
    display: block;
    width: 448px;
    height: 40px;

    margin-top: 4px;
    margin-bottom: 10px;
    padding-left: 42px;
    

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;


    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        outline: none;
        border-color: $accent-color;
    }
}


.form-icons {
    position: absolute;
    top: 38%;
    left: 12px;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .form-input:focus ~ & {
        fill: #188CE8;
    }
}


.form-label textarea {
    resize: none;

    width: 448px;
    height: 120px;

    padding: 12px 16px;

    line-height: 1.16;
    letter-spacing: 0.01em;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    margin-top: 4px;
    margin-bottom: 20px;


    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        outline: none;
        border-color:  $accent-color;
    }
}


.form-label textarea :placeholder-shown {
    color: rgba(117, 117, 117, 0.5);
}



.label {
    display: inline-block;
}


.form-check-label {
    margin-left: 14px;
}


.form-check {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0px;
    padding: 0px;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.checkbox-icon {
    display: inline-block;

    width: 16px;
    height: 15px;

    margin-right: 8.38px;

    border: solid 2px;
    border-color: rgba(33, 33, 33, 1);
    border-radius: 2px;

}


.form-check:checked + .checkbox-icon {
    border-color: $accent-color;
    background-image: url('../images/icon-check.svg');
    background-origin: border-box;
}


.form-check:focus + .checkbox-icon {
    border-color: $accent-color;
}


.form-link {
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    margin-left: 7px;
    text-decoration: underline;
    color: rgba(33, 150, 243, 1);
}


.form-button {
    width: 200px;
    height: 50px;

    border: none;
    padding: 10px 52px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

    cursor: pointer;

    font-weight: 700;
    line-height: 1.87;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: $primary-white-color;

    background: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    background-color: #188CE8;
}
}



