.hero__btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;  
    display: flex;
    margin-left: auto;
    margin-right: auto;
    min-width: 216px;
    height: 50px;
    padding: 10px 32px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: $accent-color;
    color: $primary-white-color;


    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);



    
    &:hover,
    &:focus {
    cursor: pointer;
    background-color: $secondary-color;
    color: $primary-white-color;
}



    &:active {
    color: $secondary-color;
}
}


