.breadcrumbs__btn {
    padding: 6px 22px;
    font-family: $font-roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;  
    text-align: center;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background-color: $gray-color;
    color: $title-text-color;


    transition-property: background-color, box-shadow, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {

    background-color: $accent-color;
    color: $primary-white-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
}


.breadcrumbs__btn.current-btn {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    background: $accent-color;
    color: $primary-white-color
}


.breadcrumbs .breadcrumbs__item + .breadcrumbs__item {
    margin-left: 8px;
}