.project-img {
    display: block;
    max-width: 100%;
    height: auto;
}


.desc {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
}


.project-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;

    margin-bottom: 4px;
    color: $title-text-color;
}


.project-text {
    font-size: 16px;
    line-height: 1.87;
    color: $primary-text-color;
}