.site-navigation {
    margin-left: 93px; 
 }
 
 
 .site-navigation__list {
     display: flex; 
 }


 .site-navigation__item:not(:last-child) {
    margin-right: 50px;
}
 
 
 .site-navigation__link {
     display: block;
     font-weight: 500;
     line-height: 1.14;
     letter-spacing: 0.02em;
     padding-top: 32px;
     padding-bottom: 32px;
     color: $title-text-color;
 
 
     transition-property: color;
     transition-duration: 250ms;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
     color: $accent-color;
 }
 }
 
 
 .site-navigation__link.current {
     position: relative;
     color: $accent-color;
 }
 
 
 .current::after {
     position: absolute;
     bottom: -2px;
     right: 0px;
     content: "";
     width: 100%;
     height: 4px;
     background-color: $accent-color;
     border-radius: 2px;
 }