.team-img {
    display: block;
}


.team-text-content {
    padding: 30px 10px;
}


.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    color: $title-text-color;
}


.team-text {
    font-size: 16px;
    line-height: 1.18;
}