.team {
    margin-right: 0px;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px 
    rgba(0, 0, 0, 0.14), 0px 2px 1px
    rgba(0, 0, 0, 0.2);
    background-color: $primary-white-color;
}


.team-list {
    display: flex;
}


.team-list .team:not(:last-child) {
    margin-right: 30px;
}