$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196F3;
$primary-white-color: #FFFFFF;
$hero-footer-color: #2F303A;
$footer-contact-color : rgba(255, 255, 255, 0.6);
$gray-color : #F5F4FA;
$logo-header : #000000;
$portfolio-bgc :#F5F5F5;
$secondary-color :#188CE8;
$font-roboto : 'Roboto', sans-serif;
$font-ralevay : Raleway,sans-serif;
