$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196F3;
$primary-white-color: #FFFFFF;
$hero-footer-color: #2F303A;
$footer-contact-color : rgba(255, 255, 255, 0.6);
$gray-color : #F5F4FA;
$logo-header : #000000;
$portfolio-bgc :#F5F5F5;


h1,h2,h3,h4,h5,p,ul {
    margin: 0px;
}


body {
    font-family: 'Roboto', sans-serif;
    background-color:$primary-white-color;
    color: $primary-text-color;
    font-size: 14px;
    letter-spacing: 0.03em;
}


.section {
    padding-top: 94px;
    padding-bottom: 94px;
    margin-left: auto;
    margin-right: auto;
    background-color: $primary-white-color;
}


.section:nth-child(4) {
    background-color: $gray-color;
}


.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: solid 2px tomato; */
}


.list {
    margin: 0px;
    padding: 0px;
    list-style: none;
}


.link {
    text-decoration: none;
}  